# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives :**
- List popular languages for Data Science 
- List of popular data science libraries 
- Table of Data Science Tools
- Examples of evaluating arithmetic expressions in Python

### List of Popular Data Scientists Languages

Some of the most popular languages that Data Scinetist use are:  
1. Python
2. Sql
3. R

### List of Data Science Libraries

Some of the commonly used libraries used by Data Scientists include:

1. Python: Pandas, TensorFlow.
2. R: caret, glmnet, tidyr, ggplot2.
3. SQL: MySQL, PostgreSQL, Microsoft SQL Server.

### Table Of Data Science Tools

| Data Sciene |
|:-----------:|
|Apache Spark|
|Jupyter Notebook|
|Anaconda|

### Below are a few examples of evaluating arithmetic expressions in Python

In [6]:
# This is a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [9]:
# This will convert 200 mintues to hours by dividing by 60
round(200/60, 2)

3.33

## Author
-Khai Jones